// Main
@import "main.scss";

// Components
@import "components/box";
@import "components/content";
@import "components/switch";

.Settings {
	@include full-size;

	.logo {
		height: 50px;
		@include center;
	}

	.header {
		margin: 0;
		margin-top: 20px;
		text-align: center;
		@include font($size: 25px, $weight: 400);
	}

	.description {
		margin: 5px 0 0 0;
		text-align: center;
		opacity: 0.6;
		@include font($size: 14px);
	}

	.container {
		margin-top: 40px;

		.item {
			@include flex($align-items: center);

			&:not(:first-child) {
				margin-top: 30px;
			}

			.label {
				.name {
					@include font($size: 15px, $weight: bold);
					margin: 0em;
				}

				.note {
					@include font($size: 9px);
					margin: 0;
					opacity: 0.6;
				}
			}

			.value {
				@include font($size: 13px);
				display: block;
				width: 90px;
				padding: 5px 10px;
				margin-left: auto;
				text-align: center;
				border-radius: 6px;
				border: 1px solid rgba(0, 0, 0, 0.2);

				&.shortcut {
					text-align: right;
					font-size: 15px;
				}
			}

			.Switch {
				margin-left: auto;
				margin-right: 20px;
			}
		}
	}

	.btn-submit {
		@include font($weight: bold);
		@include center();
		width: 200px;
		margin-top: 40px;
		padding: 7px;
		border: 0;
		border-radius: 20px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: white;
		outline: 0;
		cursor: pointer;
		transition: 150ms;

		&:hover {
			opacity: 0.8;
			transition: 150ms;
		}
	}
}
