@font-face {
  font-family: Proxima Nova;
  font-weight: 300;
  src: url("../assets/fonts/Proxima-Nova-Thin.otf");
}
@font-face {
  font-family: Proxima Nova;
  font-weight: 400;
  src: url("../assets/fonts/Proxima-Nova-Regular.otf");
}
@font-face {
  font-family: Proxima Nova;
  font-weight: 700;
  src: url("../assets/fonts/Proxima-Nova-Bold.otf");
}
@font-face {
  font-family: Proxima Nova;
  font-weight: 800;
  src: url("../assets/fonts/Proxima-Nova-Extrabold.otf");
}
@font-face {
  font-family: Proxima Nova;
  font-weight: 900;
  src: url("../assets/fonts/Proxima-Nova-Black.otf");
}
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-blue {
  color: #1673ff;
}

.text-red {
  color: #ed0a3f;
}

.text-yellow {
  color: #f9c546;
}

.text-green {
  color: #26c296;
}

.text-gray {
  color: #e6e6e6;
}

.text-black {
  color: #333333;
}

.bg-blue {
  background-color: #1673ff;
}

.bg-red {
  background-color: #ed0a3f;
}

.bg-yellow {
  background-color: #f9c546;
}

.bg-green {
  background-color: #26c296;
}

.bg-gray {
  background-color: #e6e6e6;
}

.bg-black {
  background-color: #333333;
}

p {
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
}

html {
  min-width: 100%;
  min-height: 100%;
}

body {
  width: 100vw;
  height: 100vh;
}

.Box {
  width: 400px;
  padding: 20px 40px;
  background-color: white;
  border-radius: 30px;
}

.Switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.Switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.Switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e6e6e6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.Switch .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.Switch .slider.slider.round {
  border-radius: 25px;
}
.Switch .slider.slider.round.round:before {
  border-radius: 50%;
}
.Switch input:checked + .slider {
  background-color: #26c296;
}
.Switch input:focus + .slider {
  box-shadow: 0 0 1px #26c296;
}
.Switch input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

.CircularCheckbox label {
  font-family: "Proxima Nova";
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.CircularCheckbox input[type=checkbox] {
  display: none;
}
.CircularCheckbox input[type=checkbox] + label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-clip: content-box;
  border: 4px solid #e6e6e6;
  background-color: #e6e6e6;
  border-radius: 50%;
  margin-bottom: 3px;
  flex-shrink: 0;
}
.CircularCheckbox input[type=checkbox]:checked + label:before {
  background-color: #1673ff;
}
.CircularCheckbox .sound-signal label {
  display: inline-flex;
  align-items: center;
}

.dropdown-menu,
.dropdown-menu ul {
  padding: 0;
  list-style-type: none;
}
.dropdown-menu .button {
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 400;
  padding: 2px 10px;
  color: #333333;
  background-color: #e6e6e6;
  border-radius: 4px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 150ms;
  text-align: center;
  text-decoration: none;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  padding: 4px 50px 4px 10px;
  text-decoration: none;
}
.dropdown-menu .button:hover {
  transition: 150ms;
  opacity: 0.7;
}
.dropdown-menu .button:after {
  width: 7px;
  height: 7px;
  transform: rotate(-135deg) translateY(-20%) !important;
}
.dropdown-menu .dropdown-panel {
  position: absolute;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f4f8ff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.dropdown-menu .dropdown-panel li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  padding: 8px 15px;
  opacity: 0.7;
  cursor: pointer;
}
.dropdown-menu .dropdown-panel li:hover {
  opacity: 1;
}
.dropdown-menu .dropdown-panel li img {
  width: 20px;
  margin-right: 10px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
.Snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 150px;
  /* Set a default minimum width */
  margin-left: -75px;
  /* Divide value of min-width by 2 */
  background-color: #333;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 10px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */
  border-radius: 8px;
  font-family: "Proxima Nova";
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.Snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
   However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
.Main {
  padding: 30px 40px 10px;
  min-width: 100%;
  min-height: 100%;
  background-color: #f4f8ff;
}
.Main .header {
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: flex-end;
  flex-direction: row;
}
.Main .header .logo {
  flex: 1;
}
.Main .header .configuration {
  margin-right: 80px;
}
.Main .header .configuration .switch-container {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: row;
  margin-left: 10px;
}
.Main .header .configuration .switch-container .Switch {
  width: 35px;
  height: 17px;
  margin: 0 8px;
}
.Main .header .configuration .switch-container .Switch .slider:before {
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 2px;
}
.Main .header .configuration .switch-container .Switch input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}
.Main .header .configuration .switch-container .switch-value {
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 400;
  opacity: 0.8;
}
.Main .header .configuration .kleeboard {
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  display: block;
}
.Main .header .configuration .date {
  font-family: "Proxima Nova";
  font-size: 13px;
  font-weight: 400;
  margin-top: 2px;
  display: block;
  cursor: pointer;
}
.Main .header .configuration .date .arrow-icon {
  height: 10px;
  width: 10px;
  margin-left: 10px;
}
.Main .header .user .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  width: 80px;
  padding: 6px 8px;
  background-color: #e6e6e6;
  cursor: pointer;
}
.Main .header .user .avatar {
  width: 33px;
  height: 33px;
  border: 2px solid white;
  border-radius: 50%;
}
.Main .header .user .arrow-icon {
  height: 10px;
  width: 10px;
  margin-top: 5px;
  margin-left: 15px;
}
.Main .main-content {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 5px;
}
.Main .main-content .folders {
  flex-basis: 30%;
  padding-top: 48px;
  padding-right: 20px;
}
.Main .main-content .folders .btn-new-folder {
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 400;
  padding: 2px 10px;
  color: white;
  background-color: #26c296;
  border-radius: 4px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 150ms;
  text-align: center;
  text-decoration: none;
}
.Main .main-content .folders .btn-new-folder:hover {
  transition: 150ms;
  opacity: 0.7;
}
.Main .main-content .folders .list {
  cursor: pointer;
  padding-top: 5px;
}
.Main .main-content .folders .list .item {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 2px 5px;
  border-radius: 4px;
}
.Main .main-content .folders .list .item.active .title {
  flex: none;
  background-color: #1673ff;
  color: white;
  border-radius: 8px;
  opacity: 0.8;
}
.Main .main-content .folders .list .item .CircularCheckbox label:before {
  margin-bottom: 0;
}
.Main .main-content .folders .list .item .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: 400;
  color: #a1a1a1;
  padding: 3px 10px;
  flex: 1;
}
.Main .main-content .folders .list .item .title img {
  margin-right: 5px;
}
.Main .main-content .folders #folder-bulk-actions {
  margin-top: 30px;
}
.Main .main-content .folders #folder-bulk-actions .button {
  background-color: #e6e6e6;
}
.Main .main-content .folders .btn-settings {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 400;
  padding: 2px 10px;
  color: #858585;
  background-color: transparent;
  border-radius: 4px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 150ms;
  text-align: center;
  text-decoration: none;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  margin-top: 25px;
  padding: 2px 0;
  opacity: 1;
}
.Main .main-content .folders .btn-settings:hover {
  transition: 150ms;
  opacity: 0.7;
}
.Main .main-content .folders .btn-settings svg {
  fill: #858585;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.Main .main-content .contents {
  flex-basis: 70%;
}
.Main .main-content .contents #search {
  width: 130px;
  padding: 4px 10px;
  background-color: #e6e6e6;
  text-align: center;
  border: 0;
  border-radius: 20px;
  outline: 0;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
}
.Main .main-content .contents #search::placeholder {
  color: #333333;
}
.Main .main-content .contents .list {
  margin-top: 15px;
}
.Main .main-content .contents .list .item {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 2px 5px;
  border-radius: 4px;
}
.Main .main-content .contents .list .item .date {
  width: 30px;
}
.Main .main-content .contents .list .item .date .day {
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  display: block;
}
.Main .main-content .contents .list .item .date .day-number {
  font-family: "Proxima Nova";
  font-size: 30px;
  font-weight: 800;
  margin: 0;
  margin-top: -5px;
  display: block;
}
.Main .main-content .contents .list .item .divider {
  width: 1px;
  height: 35px;
  margin: 0 15px 0;
  background-color: #333333;
  opacity: 0.2;
}
.Main .main-content .contents .list .item .details .CircularCheckbox label {
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: 400;
}
.Main .main-content .contents .list .item .action-buttons {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: row;
  margin-left: auto;
  flex-shrink: 0;
  position: relative;
}
.Main .main-content .contents .list .item .action-buttons .btn-copy {
  border: 0;
  border-radius: 4px;
  margin-left: 5px;
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 400;
  padding: 2px 10px;
  color: white;
  background-color: #26c296;
  border-radius: 4px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 150ms;
  text-align: center;
  text-decoration: none;
  padding: 2px 15px;
}
.Main .main-content .contents .list .item .action-buttons .btn-copy:hover {
  transition: 150ms;
  opacity: 0.7;
}
.Main .main-content .contents .list .item .action-buttons .btn-more-settings {
  border: 0;
  border-radius: 4px;
  margin-left: 5px;
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 400;
  padding: 2px 10px;
  color: #333333;
  background-color: #1673ff;
  border-radius: 4px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 150ms;
  text-align: center;
  text-decoration: none;
}
.Main .main-content .contents .list .item .action-buttons .btn-more-settings:hover {
  transition: 150ms;
  opacity: 0.7;
}
.Main .main-content .contents .list .item .action-buttons .btn-remove {
  border: 0;
  border-radius: 4px;
  margin-left: 5px;
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 400;
  padding: 2px 10px;
  color: #333333;
  background-color: #f9c546;
  border-radius: 4px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 150ms;
  text-align: center;
  text-decoration: none;
}
.Main .main-content .contents .list .item .action-buttons .btn-remove:hover {
  transition: 150ms;
  opacity: 0.7;
}
.Main .main-content .contents .list .item .action-buttons .dropdown-menu {
  margin: 0 !important;
}
.Main .main-content .contents .list .item .action-buttons .dropdown-menu .dropdown-panel {
  left: 0;
  z-index: 2;
}
.Main .main-content .contents #content-bulk-actions {
  margin-top: 25px;
  margin-left: 62px;
}
.Main .main-content .contents #content-bulk-actions .button {
  background-color: #1673ff;
  color: white;
}
.Main .main-content .contents #content-bulk-actions .dropdown-panel {
  max-width: 200px;
}

.dropdown-menu .modal-button {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: #333333;
}

.cloneable {
  display: none !important;
}

.modal {
  width: 300px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #f4f8ff;
  border: 0;
  box-shadow: none;
}
.modal .message {
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 400;
  color: #333333;
}

#modal-delete-confirmation .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#modal-delete-confirmation .actions .btn-keep {
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 400;
  padding: 2px 10px;
  color: white;
  background-color: #26c296;
  border-radius: 4px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 150ms;
  text-align: center;
  text-decoration: none;
  width: 80px;
}
#modal-delete-confirmation .actions .btn-keep:hover {
  transition: 150ms;
  opacity: 0.7;
}
#modal-delete-confirmation .actions .btn-delete {
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 400;
  padding: 2px 10px;
  color: #333333;
  background-color: #f9c546;
  border-radius: 4px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 150ms;
  text-align: center;
  text-decoration: none;
  margin-left: 30px;
  width: 80px;
}
#modal-delete-confirmation .actions .btn-delete:hover {
  transition: 150ms;
  opacity: 0.7;
}

#modal-new-folder .actions {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: row;
}
#modal-new-folder .actions input {
  padding: 4px;
  border-radius: 4px;
  outline: 0;
  border: 1px solid #e6e6e6;
  flex: 1;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
}
#modal-new-folder .actions .btn-create {
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 400;
  padding: 2px 10px;
  color: white;
  background-color: #1673ff;
  border-radius: 4px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 150ms;
  text-align: center;
  text-decoration: none;
  height: auto;
  margin-left: 8px;
  width: 80px;
  align-self: stretch;
}
#modal-new-folder .actions .btn-create:hover {
  transition: 150ms;
  opacity: 0.7;
}

#modal-color-selection {
  padding-top: 30px;
}
#modal-color-selection .colors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: 150ms;
  cursor: pointer;
}
#modal-color-selection .colors div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0 10px 0;
}
#modal-color-selection .colors div img {
  display: none;
}
#modal-color-selection .colors div.selected {
  border: 2px solid #5d6d7e;
  transition: 150ms;
}
#modal-color-selection .colors div.selected img {
  display: block;
}
#modal-color-selection .colors div.green {
  background-color: #39b54a;
}
#modal-color-selection .colors div.violet {
  background-color: #662d92;
}
#modal-color-selection .colors div.blue {
  background-color: #29abe2;
}
#modal-color-selection .colors div.red {
  background-color: #ff0000;
}
#modal-color-selection .colors div.yellow {
  background-color: #fcee21;
}
#modal-color-selection .colors div:not(.selected):hover {
  transition: 150ms;
  opacity: 0.4;
}
#modal-color-selection .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
}
#modal-color-selection .actions .btn-cancel {
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 400;
  padding: 2px 10px;
  color: #333333;
  background-color: #e6e6e6;
  border-radius: 4px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 150ms;
  text-align: center;
  text-decoration: none;
  width: 80px;
}
#modal-color-selection .actions .btn-cancel:hover {
  transition: 150ms;
  opacity: 0.7;
}
#modal-color-selection .actions .btn-apply {
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 400;
  padding: 2px 10px;
  color: white;
  background-color: #26c296;
  border-radius: 4px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 150ms;
  text-align: center;
  text-decoration: none;
  margin-left: 30px;
  width: 80px;
}
#modal-color-selection .actions .btn-apply:hover {
  transition: 150ms;
  opacity: 0.7;
}
#modal-color-selection .actions .btn-apply:disabled {
  opacity: 0.6;
  cursor: initial;
}

.color-green {
  background-color: #39b54a;
}

.color-violet {
  background-color: #662d92;
}

.color-blue {
  background-color: #29abe2;
}

.color-red {
  background-color: #ff0000;
}

.color-yellow {
  background-color: #fcee21;
}
