@font-face {
  font-family: Proxima Nova;
  font-weight: 300;
  src: url("../assets/fonts/Proxima-Nova-Thin.otf");
}
@font-face {
  font-family: Proxima Nova;
  font-weight: 400;
  src: url("../assets/fonts/Proxima-Nova-Regular.otf");
}
@font-face {
  font-family: Proxima Nova;
  font-weight: 700;
  src: url("../assets/fonts/Proxima-Nova-Bold.otf");
}
@font-face {
  font-family: Proxima Nova;
  font-weight: 800;
  src: url("../assets/fonts/Proxima-Nova-Extrabold.otf");
}
@font-face {
  font-family: Proxima Nova;
  font-weight: 900;
  src: url("../assets/fonts/Proxima-Nova-Black.otf");
}
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-blue {
  color: #1673ff;
}

.text-red {
  color: #ed0a3f;
}

.text-yellow {
  color: #f9c546;
}

.text-green {
  color: #26c296;
}

.text-gray {
  color: #e6e6e6;
}

.text-black {
  color: #333333;
}

.bg-blue {
  background-color: #1673ff;
}

.bg-red {
  background-color: #ed0a3f;
}

.bg-yellow {
  background-color: #f9c546;
}

.bg-green {
  background-color: #26c296;
}

.bg-gray {
  background-color: #e6e6e6;
}

.bg-black {
  background-color: #333333;
}

p {
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
}

html {
  min-width: 100%;
  min-height: 100%;
}

body {
  width: 100vw;
  height: 100vh;
}
