@font-face {
  font-family: Proxima Nova;
  font-weight: 300;
  src: url("../assets/fonts/Proxima-Nova-Thin.otf");
}
@font-face {
  font-family: Proxima Nova;
  font-weight: 400;
  src: url("../assets/fonts/Proxima-Nova-Regular.otf");
}
@font-face {
  font-family: Proxima Nova;
  font-weight: 700;
  src: url("../assets/fonts/Proxima-Nova-Bold.otf");
}
@font-face {
  font-family: Proxima Nova;
  font-weight: 800;
  src: url("../assets/fonts/Proxima-Nova-Extrabold.otf");
}
@font-face {
  font-family: Proxima Nova;
  font-weight: 900;
  src: url("../assets/fonts/Proxima-Nova-Black.otf");
}
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-blue {
  color: #1673ff;
}

.text-red {
  color: #ed0a3f;
}

.text-yellow {
  color: #f9c546;
}

.text-green {
  color: #26c296;
}

.text-gray {
  color: #e6e6e6;
}

.text-black {
  color: #333333;
}

.bg-blue {
  background-color: #1673ff;
}

.bg-red {
  background-color: #ed0a3f;
}

.bg-yellow {
  background-color: #f9c546;
}

.bg-green {
  background-color: #26c296;
}

.bg-gray {
  background-color: #e6e6e6;
}

.bg-black {
  background-color: #333333;
}

p {
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
}

html {
  min-width: 100%;
  min-height: 100%;
}

body {
  width: 100vw;
  height: 100vh;
}

.Box {
  width: 400px;
  padding: 20px 40px;
  background-color: white;
  border-radius: 30px;
}

.Content {
  min-width: 100%;
  min-height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f4f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.Switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.Switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.Switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e6e6e6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.Switch .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.Switch .slider.slider.round {
  border-radius: 25px;
}
.Switch .slider.slider.round.round:before {
  border-radius: 50%;
}
.Switch input:checked + .slider {
  background-color: #26c296;
}
.Switch input:focus + .slider {
  box-shadow: 0 0 1px #26c296;
}
.Switch input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

.Settings {
  width: 100%;
  height: 100%;
}
.Settings .logo {
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Settings .header {
  margin: 0;
  margin-top: 20px;
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 25px;
  font-weight: 400;
}
.Settings .description {
  margin: 5px 0 0 0;
  text-align: center;
  opacity: 0.6;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
}
.Settings .container {
  margin-top: 40px;
}
.Settings .container .item {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: row;
}
.Settings .container .item:not(:first-child) {
  margin-top: 30px;
}
.Settings .container .item .label .name {
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: bold;
  margin: 0em;
}
.Settings .container .item .label .note {
  font-family: "Proxima Nova";
  font-size: 9px;
  font-weight: 400;
  margin: 0;
  opacity: 0.6;
}
.Settings .container .item .value {
  font-family: "Proxima Nova";
  font-size: 13px;
  font-weight: 400;
  display: block;
  width: 90px;
  padding: 5px 10px;
  margin-left: auto;
  text-align: center;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.Settings .container .item .value.shortcut {
  text-align: right;
  font-size: 15px;
}
.Settings .container .item .Switch {
  margin-left: auto;
  margin-right: 20px;
}
.Settings .btn-submit {
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-top: 40px;
  padding: 7px;
  border: 0;
  border-radius: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  outline: 0;
  cursor: pointer;
  transition: 150ms;
}
.Settings .btn-submit:hover {
  opacity: 0.8;
  transition: 150ms;
}
