@font-face {
	font-family: Proxima Nova;
	font-weight: 300;
	src: url("../assets/fonts/Proxima-Nova-Thin.otf");
}

@font-face {
	font-family: Proxima Nova;
	font-weight: 400;
	src: url("../assets/fonts/Proxima-Nova-Regular.otf");
}

@font-face {
	font-family: Proxima Nova;
	font-weight: 700;
	src: url("../assets/fonts/Proxima-Nova-Bold.otf");
}

@font-face {
	font-family: Proxima Nova;
	font-weight: 800;
	src: url("../assets/fonts/Proxima-Nova-Extrabold.otf");
}

@font-face {
	font-family: Proxima Nova;
	font-weight: 900;
	src: url("../assets/fonts/Proxima-Nova-Black.otf");
}
