.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-blue {
	color: $color-blue;
}

.text-red {
	color: $color-red;
}

.text-yellow {
	color: $color-yellow;
}

.text-green {
	color: $color-green;
}

.text-gray {
	color: $color-gray;
}

.text-black {
	color: $color-black;
}

.bg-blue {
	background-color: $color-blue;
}

.bg-red {
	background-color: $color-red;
}

.bg-yellow {
	background-color: $color-yellow;
}

.bg-green {
	background-color: $color-green;
}

.bg-gray {
	background-color: $color-gray;
}

.bg-black {
	background-color: $color-black;
}
