// Fonts
$font-primary: "Proxima Nova";

// Colors
$background: #f4f8ff;
$color-blue: #4784fa;
$color-red: #ed0a3f;
$color-yellow: #f9c546;
$color-green: #26c296;
$color-gray: #e6e6e6;
$color-black: #333333;
